@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Kanit:wght@100&family=Open+Sans:wght@400&family=Lato&family=Playfair+Display&family=Ubuntu:wght@400&family=Rubik&family=Commissioner:wght@700&display=swap');
:root {
	--text-font: "Roboto";
	--dua-font: "Kanit";
	--third-font: "Open Sans";
	--second-font: "Lato";
	--lima-font: "Playfair Display";
	--enam-font: "Ubuntu";
	--tujuh-font: "Rubik";
	--trial-font: "Commissioner";
}
:root {
  --ZIndex-giant: 400000000;
  --ZIndex-bigger: 200000000;
  --ZIndex-big: 800;
  --ZIndex-medium: 500;
  --ZIndex-small: 5;
  --ZIndex-smaller: 1;
  --ZIndex-back: -1;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}


html {
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
	padding: 0;
	margin: 0;
}
		/*(CONTENT PAGE)*/
.section .long-box {
	width: 90%;
	margin: auto;
}
	/*(TITLE)*/
.section .long-box .title-box {
	text-align: center;
}
.section .long-box .main-title {
	font-family: var(--second-font);
}
.section .long-box .title-one {
	font-family: var(--second-font);
}
.section .long-box .title-two {
	font-family: var(--third-font);
}
.section .long-box .title-three {
	font-family: var(--third-font);
}
	/*(PARAGRAPH)*/
.section .long-box .main-paragraph {
	font-family: var(--second-font);
}
.section .long-box .paragraph-premium {
	font-family: var(--second-font);
}
.section .long-box .paragraph {
	font-family: var(--third-font);
}
	/*(BUTTON)*/
.section .long-box .button-premium {
	display: block;
	border: none;
	outline: none;
	width: 90%;
	margin: auto;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-family: var(--second-font);
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
}
	/*(IMAGE)*/
.section .long-box .main-image {
	width: 100%;
	height: auto;
}
	/*(LINK)*/
.section .long-box .main-link {
	color: #008000;
	font-family: var(--third-font);
	text-decoration: none;
}
	/*(ELEMENT STYLE)*/
.bold {
	font-weight: bold;
}
.pd-mg {
	padding: 0;
	margin: 0;
}
.float_left {
	float: left;
	text-align: left;
	width: 50%;
}
.float_right {
	float: right;
	text-align: right;
	width: 50%;
}
.width_100 {
	width: 100%;
	padding: 0;
	margin: 0;
}
.width_90 {
	width: 90%;
}



	/*(SIDEBAR)*/
.section .sidebar_box {
	width: 100%;
}
.section .sidebar_box .sidebar .header_animation {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	transition: .5s;
	background-color: #F1F1F1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: var(--ZIndex-bigger);
}
.section .sidebar_box .sidebar .header_animation .logo {
	margin-left: 1.5rem;
}
.section .sidebar_box .sidebar .header_animation .logo a {
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: var(--second-font);
	text-transform: uppercase;
}
.section .sidebar_box .sidebar .header_animation .button {
	margin-right: 1.5rem;
}
.section .sidebar_box .sidebar .header_animation .button input[type=checkbox] {
	display: none;
}
.section .sidebar_box .sidebar .header_animation .button .menu-icon {
	display: block;
	color: #000;
	font-size: 1.5rem;
	cursor: pointer;
	text-align: center;
}
.section .sidebar_box .sidebar .wrapper {
	position: fixed;
	top: 40rem;
	width: 100%;
	z-index: var(--ZIndex-bigger);
}
.section .sidebar_box .sidebar .wrapper input[type="checkbox"] {
	display: none;
}
.section .sidebar_box .sidebar .wrapper nav {
	display: block;
	position: fixed;
	background-color: #F1F1F1;
	height: 100%;
	width: 100%;
	padding: .4rem 0;
	top: 4rem;
	left: -100%;
	margin-left: 0;
	max-width: 100%;
	overflow-y: auto;
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav.active {
	left: 0;
}
.section .sidebar_box .sidebar .wrapper nav .content_box {
	width: 90%;
	margin: auto;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a.desktop-link{
	display: none;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content {
	display: flex;
	align-items: center;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links {
	width: 100%;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li {
	list-style: none;
	margin: .3rem 0;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a,
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label {
	display: block;
	color: #000;
	font-size: 1.1rem;
	text-decoration: none;
	font-family: var(--second-font);
	padding: 1rem .8rem;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a.active {
	color: #f1f1f1;
	background-color: #14181f;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a.active:hover {
	color: #f1f1f1;
	background-color: #14181f;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a:hover,
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label:hover {
	background-color: #f9f9f9;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label #icn {
	font-size: 1rem;
	position: absolute;
	right: 1.9rem;
	transform: translateY(12%);
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label #icn.active {
	transform: rotate(90deg);
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul {
	position: absolute;
	background: #171c24;
	top: 80px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li:hover > ul {
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul li a {
	display: block;
	width: 100%;
	font-size: 1.1rem;
	padding: .8rem 1.2rem;
	border-radius: 4px;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul ul {
	position: absolute;
	top: 0;
	right: calc(-100% + 8px);
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul li {
	position: relative;
	margin: .2rem 0;
	padding-left: 1.5rem;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul li:hover ul {
	top: 0;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul,
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul ul {
	position: static;
	opacity: 1;
	visibility: visible;
	background: none;
	max-height: 0px;
	overflow: hidden;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul.active {
	max-height: 100vh;
}


	/*(COOKIE)*/
.section .cookie_box .cookie .wrapper {
	position: fixed;
	bottom: 5%;
	left: 5%;
	max-width: 90%;
	background: #fff;
	padding: 2rem 1rem;
	border-radius: 5px;
	box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
	text-align: center;
	margin: auto;
	transform: translateY(120%);
	z-index: 9;
}
@keyframes cookie_show-box {
	0%{
		transform: translateY(120%);
	}
	40%{
		transform: translateY(-8%);
	}
	80%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-10px);
	}
}
@keyframes cookie_hide-box {
	0%{
		transform: translateY(0%);
	}
	40%{
		transform: translateY(8%);
	}
	80%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(calc(120% + 35px));
	}
}
.section .cookie_box .cookie .wrapper.hide {
	opacity: 0;
	pointer-events: none;
	transform: scale(0.8);
	transition: all 0.3s ease;
}
.section .cookie_box .cookie .wrapper img {
	width: 30%;
}
.section .cookie_box .cookie .wrapper .content {
	margin-top: .5rem;
}
.section .cookie_box .cookie .wrapper .content h3 {
	color: #858585;
	font-size: 1.5rem;
}
.section .cookie_box .cookie .wrapper .content p {
	color: #858585;
	font-size: .9rem;
	line-height: 1.2rem;
}
.section .cookie_box .cookie .wrapper .content .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
.section .cookie_box .cookie .wrapper .buttons button {
	border: none;
	outline: none;
	color: #fff;
	font-size: .9rem;
	border-radius: 5px;
	background: #FCBA7F;
	width: 50%;
	padding: .7rem 0;
	font-weight: bold;
	font-family: var(--third-font);
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.section .cookie_box .cookie .wrapper .buttons #btn {
	margin: 0 .4rem;
}
.section .cookie_box .cookie .wrapper .buttons button:hover {
	transform: scale(0.97);
}
.section .cookie_box .cookie .wrapper .buttons a {
	color: #FCBA7F;
	font-size: .9rem;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: var(--third-font);
}


	/*(WHATSAAP)*/
.section .whatsaap_box {
	position: fixed;
	z-index: 8;
	bottom: 1.5rem;
	left: 2rem;
}
.section .whatsaap_box .whatsaap a {
	background-color: #008000;
	padding: .6rem 1rem;
	border-radius: 50rem;
	color: #fff;
	font-size: 2.2rem;
	text-decoration: none;
	transition: all 0.5s ease;
}


	/*PAGE ERROR*/
.section .page_error-box {
	padding: 6.4rem 0 2.8rem 0;
}
.section .page_error-box .page_error .content_box .content .text_box .box {
	text-align: center;
}
.section .page_error-box .page_error .content_box .content .text_box .box .title h2 {
	font-size: 3.8rem;
	line-height: 4.4rem;
}
.section .page_error-box .page_error .content_box .content .text_box .box .text p {
	font-size: 1.2rem;
	line-height: 1.8rem;
	margin-top: 2rem;
}
.section .page_error-box .page_error .content_box .content .text_box .box .text .search_box {
	position: relative;
	width: 90%;
	margin: auto;
	margin-top: 3rem;
}
.section .page_error-box .page_error .content_box .content .text_box .box .text .search_box .input {
	outline: none;
	border: 1px solid #151515;
	width: 100%;
	padding: .9rem 2.5rem .9rem 1rem;
	color: #151515;
	font-size: 1.1rem;
	font-family: var(--third-font);
	border-radius: 6px;
}
.section .page_error-box .page_error .content_box .content .text_box .box .text .search_box .btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
	color: #151515;
	z-index: 1;
	cursor: pointer;
}
.section .page_error-box .page_error .content_box .content .text_box .box .text .search_box .btn.btn_common .fas {
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: #151515;
	font-size: 1.3rem;
}
.section .page_error-box .page_error .content_box .content .text_box .box .text #search:not(:valid) {
	display: none;
}
.section .page_error-box .page_error .content_box .content .text_box .box .text .link_background .button-premium {
	background-color: #ff0000;
	width: 80%;
	padding: 1.2rem 0;
	margin-top: 3rem;
	font-size: 1.2rem;
	border-radius: 6px;
}


	/*(COPYRIGHT)*/
.section .copyright_box {
	background-color: #202020ff;
	width: 100%;
	padding-top: 2.7rem;
}
.section .copyright_box .copyright {
	color: #FFFFFF;
	font-weight: bold;
}
.section .copyright_box .copyright .title-box {
	width: 90%;
	margin: auto;
}
.section .copyright_box .copyright .title-box p {
	color: #A9A9A9;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: left;
}
.section .copyright_box .copyright .main_box {
	margin-top: 2.5rem;
}
.section .copyright_box .copyright .main_box .main {
	width: 90%;
	margin: auto;
	color: #FFFFFF;
}
.section .copyright_box .copyright .main_box .main ul {
	padding: 0;
	margin-top: 2rem;
}
.section .copyright_box .copyright .main_box .main ul #mother_list,
.section .copyright_box .copyright .main_box .main ul li,
.section .copyright_box .copyright .main_box .main ul li a {
	list-style: none;
	color: #A9A9A9;
	font-size: 1rem;
	text-decoration: none;
	font-family: var(--third-font);
	line-height: 1.5rem;
	margin-top: .8rem;
}
.section .copyright_box .copyright .main_box .main ul #mother_list {
	line-height: .8rem;
	margin-top: 1.5rem;
}
.section .copyright_box .copyright .main_box .main ul li a:hover {
	text-decoration: underline;
}
.section .copyright_box .copyright .main_box .main ul label {
	display: block;
	font-size: 1.4rem;
	font-weight: bold;
	font-family: var(--second-font);
	margin-bottom: 2rem;
}
.section .copyright_box .copyright .main_box .main ul label:before {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 15%;
	height: .2rem;
	margin-top: 1.8rem;
}
.section .copyright_box .copyright .main_box .main-copyright {
	background-color: #2e2e2eff;
	width: 100%;
	padding: 1.5rem 0 .8rem 0;
	margin-top: 1.5rem;
}
.section .copyright_box .copyright .main_box .main-copyright .paragraph-premium,
.section .copyright_box .copyright .main_box .main-copyright .paragraph-premium a {
	color: #A9A9A9;
	font-size: 1rem;
	font-family: var(--second-font);
	line-height: 1.5rem;
	text-align: center;
	text-decoration: none;
	width: 90%;
	margin: auto;
}
.section .copyright_box .copyright .main_box .main-copyright .paragraph-premium a:hover {
	text-decoration: underline;
}
.section .copyright_box .copyright .main_box .main-copyright .social_media {
	padding: 0;
	margin: 1rem auto;
	text-align: center;
}
.section .copyright_box .copyright .main_box .main-copyright .social_media li {
	display: inline-block;
}
.section .copyright_box .copyright .main_box .main-copyright .social_media li a {
	color: #FFFFFF;
	font-size: 1.3rem;
	font-weight: 500;
	margin: 0 .2rem 0 .2rem;
}