@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Kanit:wght@100&family=Open+Sans:wght@400&family=Lato&family=Playfair+Display&family=Ubuntu:wght@400&family=Rubik&family=Commissioner:wght@700&display=swap');
:root {
	--text-font: "Roboto";
	--dua-font: "Kanit";
	--third-font: "Open Sans";
	--second-font: "Lato";
	--lima-font: "Playfair Display";
	--enam-font: "Ubuntu";
	--tujuh-font: "Rubik";
	--trial-font: "Commissioner";
}
:root {
  --ZIndex-giant: 400000000;
  --ZIndex-bigger: 200000000;
  --ZIndex-big: 800;
  --ZIndex-medium: 500;
  --ZIndex-small: 5;
  --ZIndex-smaller: 1;
  --ZIndex-back: -1;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}


html {
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
	padding: 0;
	margin: 0;
}
		/*(CONTENT PAGE)*/
.section .long-box {
	width: 90%;
	margin: auto;
}
	/*(TITLE)*/
.section .long-box .title-box {
	text-align: center;
}
.section .long-box .main-title {
	font-family: var(--second-font);
}
.section .long-box .title-one {
	font-family: var(--second-font);
}
.section .long-box .title-two {
	font-family: var(--third-font);
}
.section .long-box .title-three {
	font-family: var(--third-font);
}
	/*(PARAGRAPH)*/
.section .long-box .main-paragraph {
	font-family: var(--second-font);
}
.section .long-box .paragraph-premium {
	font-family: var(--second-font);
}
.section .long-box .paragraph {
	font-family: var(--third-font);
}
	/*(BUTTON)*/
.section .long-box .button-premium {
	display: block;
	border: none;
	outline: none;
	width: 90%;
	margin: auto;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-family: var(--second-font);
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
}
	/*(IMAGE)*/
.section .long-box .main-image {
	width: 100%;
	height: auto;
}
	/*(LINK)*/
.section .long-box .main-link {
	color: #008000;
	font-family: var(--third-font);
	text-decoration: none;
}
	/*(ELEMENT STYLE)*/
.bold {
	font-weight: bold;
}
.pd-mg {
	padding: 0;
	margin: 0;
}
.float_left {
	float: left;
	text-align: left;
	width: 50%;
}
.float_right {
	float: right;
	text-align: right;
	width: 50%;
}
.width_100 {
	width: 100%;
	padding: 0;
	margin: 0;
}
.width_90 {
	width: 90%;
}



	/*(SIDEBAR)*/
.section .sidebar_box {
	width: 100%;
}
.section .sidebar_box .sidebar .header_animation {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	transition: .5s;
	background-color: #F1F1F1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: var(--ZIndex-bigger);
}
.section .sidebar_box .sidebar .header_animation .logo {
	margin-left: 1.5rem;
}
.section .sidebar_box .sidebar .header_animation .logo a {
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: var(--second-font);
	text-transform: uppercase;
}
.section .sidebar_box .sidebar .header_animation .button {
	margin-right: 1.5rem;
}
.section .sidebar_box .sidebar .header_animation .button input[type=checkbox] {
	display: none;
}
.section .sidebar_box .sidebar .header_animation .button .menu-icon {
	display: block;
	color: #000;
	font-size: 1.5rem;
	cursor: pointer;
	text-align: center;
}
.section .sidebar_box .sidebar .wrapper {
	position: fixed;
	top: 40rem;
	width: 100%;
	z-index: var(--ZIndex-bigger);
}
.section .sidebar_box .sidebar .wrapper input[type="checkbox"] {
	display: none;
}
.section .sidebar_box .sidebar .wrapper nav {
	display: block;
	position: fixed;
	background-color: #F1F1F1;
	height: 100%;
	width: 100%;
	padding: .4rem 0;
	top: 4rem;
	left: -100%;
	margin-left: 0;
	max-width: 100%;
	overflow-y: auto;
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav.active {
	left: 0;
}
.section .sidebar_box .sidebar .wrapper nav .content_box {
	width: 90%;
	margin: auto;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a.desktop-link{
	display: none;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content {
	display: flex;
	align-items: center;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links {
	width: 100%;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li {
	list-style: none;
	margin: .3rem 0;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a,
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label {
	display: block;
	color: #000;
	font-size: 1.1rem;
	text-decoration: none;
	font-family: var(--second-font);
	padding: 1rem .8rem;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a.active {
	color: #f1f1f1;
	background-color: #14181f;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a.active:hover {
	color: #f1f1f1;
	background-color: #14181f;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li a:hover,
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label:hover {
	background-color: #f9f9f9;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label #icn {
	font-size: 1rem;
	position: absolute;
	right: 1.9rem;
	transform: translateY(12%);
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li label #icn.active {
	transform: rotate(90deg);
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul {
	position: absolute;
	background: #171c24;
	top: 80px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links li:hover > ul {
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul li a {
	display: block;
	width: 100%;
	font-size: 1.1rem;
	padding: .8rem 1.2rem;
	border-radius: 4px;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul ul {
	position: absolute;
	top: 0;
	right: calc(-100% + 8px);
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul li {
	position: relative;
	margin: .2rem 0;
	padding-left: 1.5rem;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul li:hover ul {
	top: 0;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul,
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul ul {
	position: static;
	opacity: 1;
	visibility: visible;
	background: none;
	max-height: 0px;
	overflow: hidden;
}
.section .sidebar_box .sidebar .wrapper nav .content_box .content .links ul.active {
	max-height: 100vh;
}


	/*(COOKIE)*/
.section .cookie_box .cookie .wrapper {
	position: fixed;
	bottom: 5%;
	left: 5%;
	max-width: 90%;
	background: #fff;
	padding: 2rem 1rem;
	border-radius: 5px;
	box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
	text-align: center;
	margin: auto;
	transform: translateY(120%);
	z-index: 9;
}
@keyframes cookie_show-box {
	0%{
		transform: translateY(120%);
	}
	40%{
		transform: translateY(-8%);
	}
	80%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-10px);
	}
}
@keyframes cookie_hide-box {
	0%{
		transform: translateY(0%);
	}
	40%{
		transform: translateY(8%);
	}
	80%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(calc(120% + 35px));
	}
}
.section .cookie_box .cookie .wrapper.hide {
	opacity: 0;
	pointer-events: none;
	transform: scale(0.8);
	transition: all 0.3s ease;
}
.section .cookie_box .cookie .wrapper img {
	width: 30%;
}
.section .cookie_box .cookie .wrapper .content {
	margin-top: .5rem;
}
.section .cookie_box .cookie .wrapper .content h3 {
	color: #858585;
	font-size: 1.5rem;
}
.section .cookie_box .cookie .wrapper .content p {
	color: #858585;
	font-size: .9rem;
	line-height: 1.2rem;
}
.section .cookie_box .cookie .wrapper .content .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
.section .cookie_box .cookie .wrapper .buttons button {
	border: none;
	outline: none;
	color: #fff;
	font-size: .9rem;
	border-radius: 5px;
	background: #FCBA7F;
	width: 50%;
	padding: .7rem 0;
	font-weight: bold;
	font-family: var(--third-font);
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.section .cookie_box .cookie .wrapper .buttons #btn {
	margin: 0 .4rem;
}
.section .cookie_box .cookie .wrapper .buttons button:hover {
	transform: scale(0.97);
}
.section .cookie_box .cookie .wrapper .buttons a {
	color: #FCBA7F;
	font-size: .9rem;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: var(--third-font);
}


	/*(WHATSAAP)*/
.section .whatsaap_box {
	position: fixed;
	z-index: 8;
	bottom: 1.5rem;
	left: 2rem;
}
.section .whatsaap_box .whatsaap a {
	background-color: #008000;
	padding: .6rem 1rem;
	border-radius: 50rem;
	color: #fff;
	font-size: 2.2rem;
	text-decoration: none;
	transition: all 0.5s ease;
}


	/*(LOADING)*/
.section .loading_box {
	position: fixed;
	display: none;
	transition: all .5s ease;
}
.section .loading_box.active {
	z-index: 100;
	display: block;
}
.section .loading_box #background_loading {
	background-color: #000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .5;
}
.section .loading_box .loading {
	position: absolute;
	top: 10rem;
	right: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section .loading_box .loading::after {
	content: "";
	width: 60px;
	height: 60px;
	border: 6px solid #dddddd;
	border-top-color: #888;
	border-radius: 50%;
	transform: rotate(0.16turn);
	animation: loadingAnimation 1s ease infinite;
}
@keyframes loadingAnimation {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}


	/*(MAIN HEADER)*/
.section .main_header-box {
	width: 100%;
}
.section .main_header-box .main_header .box {
	height: 36rem;
}
.section .main_header-box .main_header .box .title {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 36rem;
	overflow: hidden;
}
.section .main_header-box .main_header .box .title img {
	width: 100%;
	height: 36rem;
}
.section .main_header-box .main_header .box .title .overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 36rem;
	background-color: #2b2d42;
	opacity: .90;
	z-index: 1;
}
.section .main_header-box .main_header .box .text {
	position: absolute;
	top: 7rem;
	right: 0;
	left: 0;
	width: 80%;
	height: 29rem;
	margin-right: auto;
	margin-left: auto;
	z-index: 5;
}
.section .main_header-box .main_header .box .text h1 {
	color: #fff;
	font-size: 2.5rem;
}
.section .main_header-box .main_header .box .text p {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.8rem;
	margin-top: 1.5rem;
}
.section .main_header-box .main_header .box .text .scroll_down {
	height: 4rem;
	width: 3.5rem;
	border: 2px solid #fff;
	position: absolute;
	left: 42.5%;
	bottom: 3rem;
	border-radius: 50rem;
}
.section .main_header-box .main_header .box .text .scroll_down::before,
.section .main_header-box .main_header .box .text .scroll_down::after {
	content: "";
	position: absolute;
	top: 10%;
	left: 50%;
	height: 15px;
	width: 15px;
	transform: translate(-50%, -100%) rotate(45deg);
	border: 2px solid #fff;
	border-top: transparent;
	border-left: transparent;
	animation: scroll_down 1s ease-in-out infinite;
}
.section .main_header-box .main_header .box .text .scroll_down::before {
	top: 30%;
	animation-delay: 0.3s;
}	
@keyframes scroll_down {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	100% {
		top: 90%;
		opacity: 0;
	}
}


	/*(CONTACT)*/
.section .contact_box {
	background-color: #e4e2ef;
	width: 100%;
	padding: 2.6rem 0 3rem 0;
}
.section .contact_box .contact {
	width: 90%;
	margin: auto;
}
.section .contact_box .contact .content_box .title-box {
	text-align: left;
}
.section .contact_box .contact .content_box .title-box h2 {
	font-size: 1.6rem;
	line-height: 1.8rem;
	font-weight: bold;
}
.section .contact_box .contact .content_box .title-box p {
	font-size: 1rem;
	line-height: 1.4rem;
	margin-top: .4rem;
}
.section .contact_box .contact .content_box .content {
	margin-top: 3rem;
}
.section .contact_box .contact .content_box .content .text_box {
	background-color: #FFFFFF;
	padding: 1rem 0 2.6rem 0;
	border-radius: 8px;
}
.section .contact_box .contact .content_box .content .text_box .box {
	width: 86%;
	margin: auto;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield {
	margin-top: 1.5rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield label {
	display: block;
	color: #000000;
	font-size: 1.1rem;
	font-weight: bold;
	font-family: var(--third-font);
	margin-bottom: .4rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .info {
	color: #757575;
	font-size: .9rem;
	font-weight: bold;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .input {
	width: 100%;
	outline: none;
	border: 2px solid #000000;
	padding: 2rem 1rem 2rem 1rem;
	border-radius: 1rem;
	transition: all 0.3s ease;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield select {
	width: 12rem;
	height: 4%;
	font-size: .9rem;
	font-family: var(--third-font);
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .custom_select {
	position: relative;
	width: 100%;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .custom_select:before {
	content: "";
	position: absolute;
	top: 45%;
	right: .8rem;
	border: 5px solid;
	border-color: #000000 transparent transparent transparent;
	pointer-events: none;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .custom_select select {
	-webkit-appearance: none;
	-moz-appearance:   none;
	appearance:        none;
	outline: none;
	width: 100%;
	height: 100%;
	border: none;
	padding: .8rem .8rem;
	color: #000000;
	font-size: 1rem;
	font-family: var(--third-font);
	background: none;
	border: 1px solid #A9A9A9;
	border-radius: 6px;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box {
	width: 90%;
	margin: auto;
	margin-top: 1rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul {
	padding: 0;
	margin: 0;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul li {
	list-style: none;
	margin: 0;
	font-weight: bold;
	font-family: var(--third-font);
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul li span {
	font-weight: bold;
	text-transform: uppercase;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul .list_active {
	color: #888;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul li .txt {
	float: left;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul li .price {
	float: right;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box .search_box {
	position: relative;
	width: 100%;
	height: 3rem;
	margin: .4rem 0;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box .search_box .input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 0 10px 10px;
	border-radius: 4px;
	border: 1.4px solid #A9A9A9;
	outline: none;
	font-size: 1rem;
	font-family: var(--third-font);
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box .search_box .btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 18%;
	height: 100%;
	border: none;
	outline: none;
	background-color: #888;
	z-index: 1;
	cursor: pointer;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box .search_box .btn .fas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_info {
	margin-top: 2rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_info p {
	font-size: .9rem;
	line-height: 1.4rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_info p a {
	color: #008000;
	text-decoration: none;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_info p a:hover {
	text-decoration: underline;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_info span {
	display: block;
	font-size: .9rem;
	line-height: 1.4rem;
	font-family: var(--third-font);
	margin-top: .4rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_info span input {
	width: 1em;
	height: 1em;
	margin-right: .4rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .label_off {
	font-size: 1.2rem;
	margin-bottom: 0;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card label {
	margin: 0;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card p {
	color: #757575;
	font-size: .9rem;
	font-weight: bold;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box {
	display: inline-block;
	box-shadow: 0 4px 12px -4px rgba(0,0,0,.20);
	width: 46%;
	padding: 1.4rem .8rem;
	margin: 1rem 1.5% 0 1.5%;
	border-radius: .8rem;
	transition: all 0.2s;
	cursor: pointer;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box_one-off {
	padding: 1.4rem .7rem;
	border: 2px solid #888;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box.active {
	padding: 1.4rem .7rem;
	border: 2px solid #888;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box img {
	width: 30%;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box .card {
	width: 98%;
	margin: auto;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box-one .card {
	padding: 1.2rem 0 .2rem 0;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box .card label {
	font-size: .9rem;
	margin-top: .6rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .card_box .card p {
	font-size: .8rem;
	line-height: 1rem;
	font-family: var(--third-font);
	margin-top: .4rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .pay_card {
	display: inline-block;
	box-shadow: 0 4px 12px -4px rgba(0,0,0,.20);
	width: 46%;
	padding: .6rem;
	margin: .6rem 1.5% 0 1.5%;
	border-radius: .6rem;
	transition: all 0.2s;
	cursor: pointer;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .pay_card-one {
	border: 2px solid #888;
	padding: .5rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .pay_card.active {
	border: 2px solid #888;
	padding: .5rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .pay_card label {
	font-size: .9rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .pay_card label #txt {
	float: left;
	width: 75%;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .pay_card label #icn {
	float: right;
	width: 20%;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_card .pay_card label img {
	width: 100%;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card {
	position: relative;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card .tooltip {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #fff;
	color: #fff;
	font-family: var(--third-font);
	padding: 1rem .6rem;
	height: 9rem;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card .tooltip.active {
	top: -9.8rem;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card .tooltip label {
	font-size: .9rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card .tooltip p {
	font-size: .8rem;
	line-height: 1.2rem;
	margin-top: .4rem;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card .tooltip::before {
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	background-color: #ffffff;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card:hover,
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card:hover .tooltip,
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield_pay-card .pay_card::before {
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .link_background .button-premium {
	width: 100%;
	padding: 1rem 0;
	margin-top: 2rem;
	font-size: 1.2rem; 
	border: none;
	border: .1px solid #888;
	background-color: #e4e2ef;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	color: #888;
	cursor: pointer;
	border-radius: 50rem;
	outline: none;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul li .price.err {
	color: #ff0000;
	text-decoration: line-through;
}
.section .contact_box .contact .content_box .content .text_box .box .form .inputfield .box ul li .price.acc {
	color: #7690da;
	border-bottom: 2px solid #7690da;
}


	/*(COPYRIGHT)*/
.section .copyright_box {
	background-color: #202020ff;
	width: 100%;
	padding-top: 2.7rem;
}
.section .copyright_box .copyright {
	color: #FFFFFF;
	font-weight: bold;
}
.section .copyright_box .copyright .title-box {
	width: 90%;
	margin: auto;
}
.section .copyright_box .copyright .title-box p {
	color: #A9A9A9;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: left;
}
.section .copyright_box .copyright .main_box {
	margin-top: 2.5rem;
}
.section .copyright_box .copyright .main_box .main {
	width: 90%;
	margin: auto;
	color: #FFFFFF;
}
.section .copyright_box .copyright .main_box .main ul {
	padding: 0;
	margin-top: 2rem;
}
.section .copyright_box .copyright .main_box .main ul #mother_list,
.section .copyright_box .copyright .main_box .main ul li,
.section .copyright_box .copyright .main_box .main ul li a {
	list-style: none;
	color: #A9A9A9;
	font-size: 1rem;
	text-decoration: none;
	font-family: var(--third-font);
	line-height: 1.5rem;
	margin-top: .8rem;
}
.section .copyright_box .copyright .main_box .main ul #mother_list {
	line-height: .8rem;
	margin-top: 1.5rem;
}
.section .copyright_box .copyright .main_box .main ul li a:hover {
	text-decoration: underline;
}
.section .copyright_box .copyright .main_box .main ul label {
	display: block;
	font-size: 1.4rem;
	font-weight: bold;
	font-family: var(--second-font);
	margin-bottom: 2rem;
}
.section .copyright_box .copyright .main_box .main ul label:before {
	content: '';
	position: absolute;
	background-color: #fff;
	width: 15%;
	height: .2rem;
	margin-top: 1.8rem;
}
.section .copyright_box .copyright .main_box .main-copyright {
	background-color: #2e2e2eff;
	width: 100%;
	padding: 1.5rem 0 .8rem 0;
	margin-top: 1.5rem;
}
.section .copyright_box .copyright .main_box .main-copyright .paragraph-premium,
.section .copyright_box .copyright .main_box .main-copyright .paragraph-premium a {
	color: #A9A9A9;
	font-size: 1rem;
	font-family: var(--second-font);
	line-height: 1.5rem;
	text-align: center;
	text-decoration: none;
	width: 90%;
	margin: auto;
}
.section .copyright_box .copyright .main_box .main-copyright .paragraph-premium a:hover {
	text-decoration: underline;
}
.section .copyright_box .copyright .main_box .main-copyright .social_media {
	padding: 0;
	margin: 1rem auto;
	text-align: center;
}
.section .copyright_box .copyright .main_box .main-copyright .social_media li {
	display: inline-block;
}
.section .copyright_box .copyright .main_box .main-copyright .social_media li a {
	color: #FFFFFF;
	font-size: 1.3rem;
	font-weight: 500;
	margin: 0 .2rem 0 .2rem;
}